@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

#headerPicAbout {
  font-family: lightFont;
  align-items: center;
  text-align: center;
}

#about-header-title {
  font-family: lightFont;
  font-size: 3vw;
  margin-bottom: 3vw;
}

.rubrikAbout {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: titleFont;
  font-size: 25px;
}

.pic-to-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5vw;
}

.pic-to-right-text {
  margin: 0 auto;
  text-align: initial;
  font-family: lightFont;
  width: 30vw;
  font-size: 17px;
}

.about-images {
  width: 30vw;
  height: 20vw;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 3px;
}
