@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

#footerDiv {
  background-color: #336245e3;
  color: white;
  height: 35vh;
  display: flex;
  font-family: lightFont;
  font-size: 1.2vw;
  padding-top: 3vw;
}

#footer-adress {
  text-align: initial;
  padding-left: 4vw;
  width: 30vw;
}

#footer-contact {
  text-align: initial;
  width: 20vw;
}

#footer-media {
  width: 40vw;
  text-align: center;
}

.footerIcons {
  width: 1.2vw;
  position: relative;
  top: 0.2vw;
  right: 0.4vw;
}
