@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

/*-- Big screen --*/

#footer {
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
  font-family: lightFont;
  font-size: 12px;
}

#footer a {
  color: #6bab90;
}

#footerDiv {
  background-color: white;
  color: black;
  height: 18vw;
  display: flex;
  font-family: lightFont;
  font-size: 1.2vw;
  padding-top: 3vw;
}

/*-- Adress section --*/

#footer-adress {
  text-align: initial;
  padding-left: 4vw;
  width: 29vw;
  font-size: 1.5vw;
}

/*-- Contact section --*/

#footer-contact {
  padding-top: 2vw;
  text-align: initial;
  width: 20vw;
  font-size: 1.5vw;
}

/*-- Social-media section --*/

#footer-media {
  width: 40vw;
  text-align: end;
}

.footerIcons {
  width: 1.2vw;
  position: relative;
  top: 0.2vw;
  right: 0.4vw;
}

.socialMediaLogo {
  position: relative;
  top: -2.8vw;
  left: -5vw;
  width: 2.5vw;
  margin: 0.5vw;
}

#follow {
  position: relative;
  left: -23vw;
  top: -9.3vw;
}

/*-- Logo section --*/

#footerYougoLogo {
  width: 13vw;
}

/*-- Big screen end --*/

/*-- Small screen  --*/

.smallScreenDiv {
  background-color: white;
  align-items: center;
  text-align: center;
  padding: 2vw;
}

#footerYougoLogoSmall {
  width: 23vw;
  margin-top: 2vw;
}

#footer-contact-small {
  margin: 30px;
}

#footer-media-small {
  margin: 30px;
}

.socialMediaLogoSmall {
  width: 7vw;
  margin: 0 1.5vw 0 1.5vw;
}

.footer-hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.479);
  width: 80%;
}

/* -- Responsive -- */

#bigFooter {
  display: block;
}

#smallFooter {
  display: none;
}

@media only screen and (max-width: 730px) {
  #bigFooter {
    display: none;
  }
  #smallFooter {
    display: block;
  }
}
