@font-face {
  font-family: boldFont;
  src: url(../fonts/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Bold.ttf);
}

.header {
  padding: 20px;
  text-align: end;
  background-color: #97bb90b2;
}

#logo {
  position: absolute;
  top: 10px;
  width: 90px;
  left: 15px;
}

.nav-items {
  display: inline-flex;
  position: relative;
}

.navLink {
  margin-left: 40px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: lightFont;
}

.navLink:hover {
  color: #336245;
}
