body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(238, 238, 238);
}

@font-face {
  font-family: titleFont;
  src: url(../fonts/Louis\ George\ Cafe.ttf);
}

@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

#headerpicture {
  background-image: url(https://images.unsplash.com/photo-1541757088-1c919081357f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vw;
  position: relative;
}

/*-- Style for Info about YouGo --*/

.infoAboutAll {
}

.infoAboutYouGo {
  width: 50%;
  padding-left: 1%;
}

#firstContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5vw;
}

#secondContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5vw;
}

.imageStyle {
}

#imgOfSomething {
  background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1862&q=80);
  width: 51%;
  height: 500px;
}

#imgOfSomething1 {
  background-image: url(https://images.unsplash.com/photo-1517849443514-73aa552d55bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  width: 51%;
  height: 500px;
}

/*-- Style for quick cards --*/

#colorcontainer {
  width: 100%;
  height: 610px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.g-card {
  width: 300px;
  height: 500px;
  margin: 0 auto;
}
.g-card .card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}
.g-card:hover .card-container {
  transform: rotateY(180deg);
}

.card-front-1,
.card-back-1,
.card-front-2,
.card-back-2,
.card-front-3,
.card-back-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front-1 {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
  border-radius: 2%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.card-back-1 {
  background: linear-gradient(-45deg, #64b5f6, #f403d1);
  border-radius: 2%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  transform: rotateY(180deg);
}

.card-front-2 {
  background: linear-gradient(-45deg, #f321d7, #ffec61);
  border-radius: 2%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.card-back-2 {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
  border-radius: 2%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  transform: rotateY(180deg);
}

.card-front-3 {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
  border-radius: 2%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.card-back-3 {
  background: linear-gradient(-45deg, #9a4eff, #24ff72);
  border-radius: 2%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  transform: rotateY(180deg);
}
.picture {
  width: 100px;
  height: 100px;
  margin: 40px;
}

.rubrik {
  text-transform: uppercase;
  font-family: titleFont;
}

.text {
  font-family: lightFont;
}

.button-container {
  outline: none;
  text-decoration: none;
  margin: 0 auto;
}

.buttonInfo {
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  outline: none;
  border: solid black 1px;
  box-shadow: black 0 0 1px;
  position: relative;
  top: 250px;
  left: 100px;
  font-family: titleFont;
}

/*-- Style for picture about how they work --*/

#InfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  width: 100%;
}

#column-2-content {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#Content-button-1 {
  padding-left: 35%;
  padding-top: 2%;
}
#Content-button-3 {
  padding-left: 35%;
  padding-top: 48%;
}

#Content-button-2 {
  grid-column-start: 3;
  grid-row-start: 2;
  padding-left: 20%;
  padding-top: 40%;
}

#Content-button-4 {
  grid-column-start: 1;
  grid-row-start: 2;
  padding-left: 45%;
  padding-top: 42%;
}

#firstBoxRubrik {
  font-family: titleFont;
  font-size: 40px;
  text-align: center;
  grid-column-start: 2;
  grid-row: 1;
}

#firstBox {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

#icon {
  width: 70%;
}

@media only screen and (max-width: 1200px) {
  #Content-button-1 {
    padding-left: 37%;
    padding-top: 2%;
  }
  #Content-button-3 {
    padding-left: 37%;
    padding-top: 57%;
  }
  #Content-button-4 {
    padding-left: 50%;
    padding-top: 45%;
  }
}
@media only screen and (max-width: 800px) {
  #Content-button-3 {
    padding-left: 37%;
    padding-top: 50%;
  }
}
@media only screen and (max-width: 600px) {
  #Content-button-3 {
    padding-left: 30%;
    padding-top: 35%;
  }
}

/*-- Style for partners --*/

#partners {
  width: 100%;
  display: inline-block;
  flex-direction: row;
  padding-left: 40px;
}

#textSamarbetspartners {
  background: linear-gradient(to right, #f403d1 20%, #64b5f6 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: titleFont;
}

.picinfo {
  width: 200px;
  margin: 40px;
}
