@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

/*-- Card -- */

.cardDiv {
  color: black;
  display: inline-block;
  font-family: lightFont;
  margin: 1vw 1.9vw 1vw 1.9vw;
  width: 15.5vw;
}

.cardDiv:hover {
  color: #97bb90;
  transition: 0.3s;
}

/*-- Title -- */

#postCompTitle {
  font-size: 1.4vw;
}

/*-- Picture -- */

.blogpics {
  border-radius: 4px;
  height: 15vw;
  object-fit: cover;
  width: 15vw;
}

/*-- Date -- */

#postDateP {
  font-size: 1vw;
}
