@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

.cardDiv {
  display: inline-block;
  margin: 1vw 1.9vw 1vw 1.9vw;
  width: 15.5vw;
  font-family: lightFont;
  color: black;
}

.cardDiv:hover {
  color: #97bb90;
  transition: 0.3s;
}

#postCompTitle {
  font-size: 1.4vw;
}

#postDateP {
  font-size: 1vw;
}

.blogpics {
  height: 15vw;
  width: 15vw;
  object-fit: cover;
  border-radius: 4px;
}
