/*-- Whole box -- */

.box {
  color: rgb(0, 0, 0);
  display: inline-table;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 2vw;
  width: 280px;
  box-shadow: 0px 0px 15px rgba(66, 66, 66, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(66, 66, 66, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(66, 66, 66, 0.22);
}

/*-- Title row -- */

#title {
  position: relative;
  top: -25px;
  /*background-color: #8e37a8;
  background: linear-gradient(to right, #6adac1, #31aa90 100%);*/
  background: linear-gradient(to right, #a9e45d, #80c02b 100%);
  background: linear-gradient(to left, #24ff72, #9a4eff);

  color: white;
  padding: 10px 25px 10px 25px;
  border-radius: 3px;
  margin-bottom: -1vw;
}

/*-- Top row -- */

.top-box {
  /*background: linear-gradient(to right, #dd76fc, #9639b3 100%);
  background: linear-gradient(to right, #86fae1, #3bb89d 100%);
  background: linear-gradient(to right, #b7f369, #8ace32 100%);*/
  background: linear-gradient(to left, #24ff72, #9a4eff);

  color: white;
  padding-bottom: 5px;
}

#monthly {
  font-size: 2.3vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

/*-- Bottmon row -- */

.bottom-box {
  position: relative;
  padding: 20px 10px 10px 10px;
  top: -1px;
}
