@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(238, 238, 238);
}

/*-- "Header" items --*/

.top-items {
  align-items: center;
  text-align: center;
  font-family: lightFont;
}

#pricing-title {
  font-family: titleFont;
  color: #57e24a;
  font-size: 4.5vw;
  background: linear-gradient(to left, #24ff72 20%, #9a4eff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#pricing-hr {
  width: 40vw;
  height: 1px;
  background-color: #6995c5;
  border: none;
}

#numberOfEmp {
  margin: 3vw 0vw 2vw 0vw;
}

@media only screen and (max-width: 1151px) {
  #pricing-title {
    font-size: 6vw;
    margin-bottom: 2vw;
  }
  #numberOfEmp {
    margin: 3vw 0vw 3vw 0vw;
  }
  #pricing-hr {
    width: 60vw;
  }
}

@media only screen and (max-width: 755px) {
  #pricing-title {
    font-size: 7.5vw;
  }
  #numberOfEmp {
    margin: 4vw 0vw 4vw 0vw;
  }
}

@media only screen and (max-width: 755px) {
  #pricing-title {
    font-size: 7.5vw;
    margin-bottom: 2vw;
  }
  #numberOfEmp {
    margin: 4vw 0vw 4vw 0vw;
  }
}
@media only screen and (max-width: 755px) {
  #pricing-title {
    font-size: 10vw;
    margin-bottom: 3vw;
  }
  #numberOfEmp {
    margin: 6vw 0vw 4vw 0vw;
  }
}

@media only screen and (max-width: 390px) {
  #pricing-title {
    font-size: 12vw;
    margin-bottom: 3vw;
  }
  #pricing-hr {
    width: 80vw;
  }
  #numberOfEmp {
    margin: 7vw 0vw 6vw 0vw;
  }
}

/*-- "Choose how many employers" buttons --*/

.employeesButtons {
  margin-bottom: 1vw;
  display: inline-block;
}

.emp-button {
  border: solid 2px #6995c5;
  border-radius: 3px;
  color: #6995c5;
  height: 50px;
  margin-right: 40px;
  width: 125px;
  outline: none;
  transition: all 0.3s;
}

.emp-button:hover {
  background-color: #6995c5;
  color: white;
}

#last-emp-button {
  margin-right: 0;
}

@media only screen and (max-width: 639px) {
  .emp-button {
    width: 110px;
    margin-right: 25px;
  }
  .employeesButtons {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 514px) {
  .emp-button {
    width: 95px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 439px) {
  .employeesButtons {
    display: flex;
    margin: 10px;
  }
}

@media only screen and (max-width: 398px) {
  .emp-button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 375px) {
  .emp-button {
    font-size: 13px;
  }
}

/*-- Contact button --*/

#contact {
  outline: none;
  text-decoration: none;
  margin: 0 auto;
}

#nav {
  color: #6995c5;
  border: solid 2px;
  padding: 10px;
  width: 10%;
  transition: all 0.5s;
  margin: 0 auto;
}

#nav:hover {
  color: #5178a1;
}

@media only screen and (min-width: 895px) {
  #nav {
    width: 10%;
  }
}

@media only screen and (max-width: 895px) {
  #nav {
    width: 14%;
    margin-top: 2vw;
  }
}

@media only screen and (max-width: 647px) {
  #nav {
    width: 22%;
  }
}

@media only screen and (max-width: 409px) {
  #nav {
    width: 25%;
    margin-top: 4vw;
  }
}

/*-- Service description --*/

#bottom-items {
  align-items: center;
  text-align: center;
  font-family: lightFont;
  background: linear-gradient(-45deg, #24ff72, #9a4eff);

  width: 100%;
  display: inline-block;
  margin-bottom: 2vw;
}
