@font-face {
  font-family: lightFont;
  src: url(../fonts/Louis\ George\ Cafe\ Light.ttf);
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(238, 238, 238);
}

/*-- "Header" items --*/

.top-items {
  align-items: center;
  text-align: center;
  font-family: lightFont;
}

#pricing-title {
  font-family: titleFont;
  color: #57e24a;
  font-size: 4vw;
}

#pricing-hr {
  width: 40vw;
  height: 1px;
  background-color: #48d13c;
  border: none;
}

#numberOfEmp {
  margin: 2vw 0vw 3vw 0vw;
}

/*-- "Choose how many employers" buttons --*/

.employeesButtons {
  margin-bottom: 1vw;
}

.emp-button {
  border: solid 3px #48d13c;
  border-radius: 3px;
  color: #57e24a;
  height: 50px;
  margin-right: 40px;
  width: 130px;
  outline: none;
  transition: all 0.3s;
}

.emp-button:hover {
  background-color: #48d13c;
  color: white;
}

#last-emp-button {
  margin-right: 0;
}

/*-- Contact button --*/

#contact {
  position: relative;
  left: 44.5%;
  outline: none;
  text-decoration: none;
}

#nav {
  color: #48d13c;
  border: solid 2px;
  padding: 10px;
  width: 10%;
  transition: all 0.5s;
}

#nav:hover {
  color: #34aa2a;
}

/*-- Service description --*/

#bottom-items {
  align-items: center;
  text-align: center;
  font-family: lightFont;
  background: linear-gradient(to right, #7bfa70, #48d13c 100%);
  width: 100%;
  display: inline-block;
  margin-bottom: 2vw;
}
